.addPromoTitle{
    margin-top: 25px;
    margin-bottom: 0px;
}

.btnlogin {
    width: 45%;
    margin-left: 20%;
    margin-bottom: 20px;
    margin-right: 20%;
}

#CustToolbar {
   background: linear-gradient(90deg, #054653  19%, #31A4BC 100%);   
   color: white;
}

.addCancelButtons{
   margin-top: 35px;
}

.field{
    width: 45%;
    margin: 10px;
}