<h2 style="text-align: center; margin-top: 1%;">Service Management</h2>




<div class="filter">
  <button class="m-1" mat-fab color="primary" (click)="addService()">
    <mat-icon>add</mat-icon>
  </button>
  
  <mat-form-field style="width: 20%; min-width: 375px; margin-right:2%;">
    <mat-label>Search</mat-label>
    <input  matInput (keyup)="applyFilter($event)" placeholder="Search general services" #input>
  </mat-form-field>
</div>
  
  <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="serviceId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.serviceId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="serviceName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
    </ng-container>
  
    <!-- Monthly Price Column -->
    <ng-container matColumnDef="monthlyPrice">
      <th mat-header-cell *matHeaderCellDef> Monthly Price </th>
      <td mat-cell *matCellDef="let element"> ${{element.monthlyPrice}} </td>
    </ng-container>
  
    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <!-- Promotion Column -->
    <ng-container matColumnDef="promotion">
        <th mat-header-cell *matHeaderCellDef> Promotion </th>
        <td mat-cell *matCellDef="let element">
            <ul>
                <li *ngFor="let promo of element.promotion">
                  {{ promo.promoName }} is available in {{ promo.region}} at discount of ${{promo.discount}}
                </li>
              </ul>
        </td>
    </ng-container>
  
    <!-- Update Column -->
    <!-- Delete Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="updateGeneralService(element)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteService(element.serviceId)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    

    <tr style="background-color: rgb(199, 239, 230);" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>

<div>
  <mat-paginator id="paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
</div>
