<div class="filter">
    <button class="m-1" mat-fab color="primary" (click)="createTechnician()">
        <mat-icon>add</mat-icon>
      </button>

    <mat-form-field id="typeDropDown" appearance="fill">
        <mat-label>By Status</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="sortByStatus()">
          <mat-option value="None">None</mat-option>
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field style="width: 20%; min-width: 375px; margin-right:2%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by Tech Request ID, Client Id or description" #input>
    </mat-form-field>
    <button id="download" mat-button (click)="exportCsv()"><i class="fa-solid fa-download"></i></button>
</div>



<div>
    <table id="serviceTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef> Client Id </th>
            <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
        </ng-container>
        <ng-container matColumnDef="requestedDate">
            <th mat-header-cell *matHeaderCellDef> Requested Date & Time </th>
            <td mat-cell *matCellDef="let element"> {{date(element.dateOfTechRequest)}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.techRequestStatus}} </td>
        </ng-container>
        <ng-container matColumnDef="scheduledDate">
            <th mat-header-cell *matHeaderCellDef> Scheduled Date </th>
            <td mat-cell *matCellDef="let element"> {{date2(element.techScheduledDate)}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.techRequestDesc}} </td>
        </ng-container>
        <ng-container matColumnDef="technician">
            <th id="assignHeader" mat-header-cell *matHeaderCellDef> Technician </th>
            <td mat-cell *matCellDef="let element">{{element.technician?.techFirstName}}              
                <!-- <mat-icon *ngIf="!element.technician" (click)="getAllTechnicians(element)" >add</mat-icon> -->
            </td>
        </ng-container>
        <tr style="background-color: rgb(199, 239, 230);" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<div>
    <mat-paginator id="paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
</div>
