<h2 style="text-align: center; margin-top: 1%;">Dashboard</h2>

<div class="container marketing" style="margin-top: 50px;">
    <!--Marketing Feature 1 -->
    <div class="row featurette my-4">
        <div class="col-md-7">
            <h2 class="featurette-heading">Service Request</h2>
            <p class="lead">Enhance Telecommunication companies' ability to provide services to their customers seamlessly
              with increased efficiency and capabilities of the Customer Service Representatives (CSRs) and Managers themselves at said companies.</p>
            <p><a class="btn btn-primary" href="#" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="/assets/Images/Telecom.png" class="img-fluid my-4" id="roundCornerImg">
        </div>
    </div>

    <hr class="featurette-divider">
    <!--Marketing Feature 2 -->
    <div class="row featurette my-4">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Equipment Request</h2>
            <p class="lead">Some of our features include: </p>
            <ul class="lead">
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor earum expedita, natus, dolores mollitia error iusto magnam iure ex harum quas laborum vel aperiam, a autem aliquam distinctio perspiciatis quam?/li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et maiores dolorum ratione hic aut facere. Laboriosam odit impedit iste fugit iusto ea. Dolorum error dolore asperiores fuga pariatur beatae iste.</li>
              <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio nesciunt porro inventore dolorem doloribus ad! Blanditiis ullam magnam aliquam vitae ad, provident incidunt a qui, quidem dolores earum iste praesentium.</li>
            </ul>
            <p><a class="btn btn-primary" href="#" role="button">View Details &raquo;</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/assets/Images/Feature.png" class="img-fluid my-4" id="roundCornerImg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette my-4">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tech Request</h2>
            <p class="lead">Enhance Telecommunication companies' ability to provide services to their customers seamlessly
              with increased efficiency and capabilities of the Customer Service Representatives (CSRs) and Managers themselves at said companies.</p>
            <p><a class="btn btn-primary" href="#" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img src="/assets/Images/Telecom.png" class="img-fluid my-4" id="roundCornerImg">
        </div>
    </div>

    


    
