<mat-toolbar id="CustToolbar">
    <span>
        <div style="font-size:40px ; font-family:'Times New Roman', Times, serif; color: white;">
            <img src="/assets/Images/logo.png" alt="logo" style="width: 40px; height: 40px;" class="mb-2" />
            Telessist
        </div>
    </span>
</mat-toolbar>

<div class="container text-center">
    <div>
        <h2>Update Service</h2>
    </div>
    
    <form [formGroup]="updateForm" (ngSubmit)="updateService(generalService.serviceId)">
        <div>
            <div>
                <mat-form-field class="field">
                    <mat-label>Service ID</mat-label>
                    <input matInput value="{{generalService.serviceId}}" formControlName="serviceId" readonly>
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Service Name</mat-label>
                    <input matInput value="{{generalService.serviceName}}" formControlName="serviceName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="field">
                    <mat-label>Monthly Price</mat-label>
                    <input matInput value="{{generalService.monthlyPrice}}" formControlName="monthlyPrice">
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>{{generalService.location}}</mat-label>
                    <mat-select formControlName="location">
                        <mat-option value="Alberta">Alberta</mat-option>
                        <mat-option value="British Columbia">British Columbia</mat-option>
                        <mat-option value="Manitoba">Manitoba</mat-option>
                        <mat-option value="New Brunswick">New Brunswick</mat-option>
                        <mat-option value="Newfoundland and Labrador">Newfoundland and Labrador</mat-option>
                        <mat-option value="Nova Scotia">Nova Scotia</mat-option>
                        <mat-option value="Ontario">Ontario</mat-option>
                        <mat-option value="Prince Edward Island">Prince Edward Island</mat-option>
                        <mat-option value="Quebec">Quebec</mat-option>
                        <mat-option value="Saskatchewan">Saskatchewan</mat-option>
                        <mat-option value="Northwest Territories">Northwest Territories</mat-option>
                        <mat-option value="Nunavut">Nunavut</mat-option>
                        <mat-option value="Yukon">Yukon</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div>
            <!-- <input class="btn btn-outline-light my-3 mx-4" type="submit" value="Update" style="background-color: #31A4BC; color: white;"> -->
            <button mat-raised-button class="btnlogin" style="background-color: #31A4BC; color: white;" type="submit" mat-button mat-dialog-close>Update</button>        
        </div>
        
    </form>

    <div>
        <h2>Promotion Details</h2>
    </div>
    <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
  
        <!-- Id Column -->
        <ng-container matColumnDef="promoId">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.promoId}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="promoName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.promoName}} </td>
        </ng-container>
      
        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef> Discount </th>
          <td mat-cell *matCellDef="let element"> ${{element.discount}} </td>
        </ng-container>
      
        <!-- Promo Desc Column -->
        <ng-container matColumnDef="promoDesc">
          <th mat-header-cell *matHeaderCellDef> Promo Description </th>
          <td mat-cell *matCellDef="let element"> {{element.promoDesc}} </td>
        </ng-container>
    
        <!-- Region Column -->
        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef> Region </th>
            <td mat-cell *matCellDef="let element">{{element.region}}</td>
        </ng-container>
      
        <!-- Expiry Date Column -->
      
        <ng-container matColumnDef="promoExpiryDate">
            <th mat-header-cell *matHeaderCellDef> Promo Expiry Date </th>
            <td mat-cell *matCellDef="let element">{{element.promoExpiryDate}}</td>
        </ng-container>
        
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="deletePromotion(element.promoId)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>

    <div>
        <h2 class="addPromoTitle">Add a New Promotion</h2>
    </div>
    
        <form [formGroup]="addPromoForm" (ngSubmit)="addPromotion()">
        <div>
            <div>
                <mat-form-field class="field">
                    <mat-label>Promo ID</mat-label>
                    <input matInput formControlName="promoId">
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Promo Name</mat-label>
                    <input matInput formControlName="promoName">
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field class="field">
                    <mat-label>Discount</mat-label>
                    <input matInput formControlName="discount">
                </mat-form-field>
                <mat-form-field class="field">
                    <mat-label>Region</mat-label>
                    <input matInput formControlName="region">
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field class="field">
                    <mat-label>Promo Description</mat-label>
                    <input matInput formControlName="promoDesc">
                </mat-form-field>
                <mat-form-field appearance="fill" class="date">
                    <mat-label>Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="promoExpiryDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div>
                    <!-- <input class="btn btn-outline-light my-3 mx-4" type="submit" value="Add Promo"> -->
                    <button mat-raised-button class="btnlogin" type="submit" style="background-color: #31A4BC; color: white;">Add Promo</button>
                    <button mat-raised-button class="btnlogin" style="background-color: #ea5454; color: white;" mat-button mat-dialog-close>Cancel</button>
            </div>
                
        </div>
    </form>
</div>

  
  
