<mat-toolbar id="CustToolbar">
    <span>
        <div style="font-size:40px ; font-family:'Times New Roman', Times, serif; color: white;">
            <img src="/assets/Images/logo.png" alt="logo" style="width: 40px; height: 40px;" class="mb-2" />
            Telessist
        </div>
    </span>
</mat-toolbar>

<h4 style="text-align: center; margin-top: 1%; margin-bottom: 1%;">Update Equipment Request</h4>

<div class="container text-center">
    <form [formGroup]="updatedForm" (ngSubmit)="updateEquipmentRequest()">
        <div>
            <mat-form-field class="field">
                <mat-label>Equipment Request ID</mat-label>
                <input matInput value="{{equipRequest.equipmentRequestId}}" formControlName="equipmentRequestId" readonly>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>Equipment ID</mat-label>
                <input matInput value="{{equipRequest.equipmentId}}" formControlName="equipmentId" readonly>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>Client ID</mat-label>
                <input matInput value="{{equipRequest.clientId}}" formControlName="clientId" readonly>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>Date/Time of Equipment Request </mat-label>
                <input matInput value="{{equipRequest.dateOfEquipRequest}}" formControlName="dateOfEquipRequest" readonly>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="field">
                <mat-label>Equipment Request Description</mat-label>
                <textarea matInput value="{{equipRequest.equipRequestDesc}}" formControlName="equipRequestDesc" readonly></textarea>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill" class="status">
                <mat-label>Request Status</mat-label>
                <mat-select required formControlName="equipRequestStatus">
                  <mat-option *ngFor="let status of erStatus" [value]="status">{{status}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="error-desc">
                <small *ngIf="updatedForm.get('equipmentRequestStatus')?.touched && updatedForm.get('equipmentRequestStatus')?.hasError('required')">Equipment Status is required</small>
            </div>

            <div class = "addCancelButtons">
                <button mat-raised-button mat-dialog-close type="submit" style="background-color: #31A4BC; color: white;"
                    class="btnlogin">Update Request</button> 
                  <button mat-raised-button mat-dialog-close style="background-color: #b95b5b; color: white;"
                        class="btnlogin">Cancel
                        </button>
              </div>           
    
        </div>
    </form>
</div>
